html, body {
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  width: 80%;
}
#root {
  height: 100%;
}
p {
  margin: 1.5em 0 .5em 0;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper {
  flex: 1 0 auto;
}

a {
  color: #007AC2;
}

.h2 {
  font-size: 2em;
}

hr {
  border: none;
  margin: 1em 0;
  border-top: 1px solid #007AC2;
}

button, .button {
  cursor: pointer;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  color: #007AC2;
  background-color: white;
  border: none;
}

button.primary, .button.primary {
  background-color: #2ECC40;
  color: white;
}

.active, .button.active, .button.active:hover {
  background-color: #007AC2;
  color: white;
}

button:hover, .button:hover {
  background-color: #eee;
  color: #222;
}

button:disabled, button:disabled:hover {
  background-color: #eee;
  color: white;
}

.right, .right {
  display: inline-block;
  float: right;
}

.input-group {
  display: inline-block;
  position: relative;
  width: 33%;
  margin-bottom: 1em;
}

.input-group-radio {
  margin-bottom: .5em;
}

.input-group input[type="text"] {
  font-size: 1.5em;
  margin: .5em 5%;
  width: 90%;
  position: relative;
}

.input-group label {
  color: #888;
}

.input-group label span {
  margin: 0 5%;
  width: 90%;
}

.input-group-radio label,
.input-group-checkbox label {
  cursor: pointer;
}

form {
  margin-bottom: 2em;
}
